p{
    font-size: 30px;
    color: red;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 3;
    letter-spacing: -2px;
    -webkit-text-stroke: 1px #000;
    font-family: 'Noto Sans KR', sans-serif;
    
}