p{
    font-size: 30px;
    color: skyblue;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 3;
    letter-spacing: -2px;
    -webkit-text-stroke: 1px #000;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
p:hover{
    color: red;
    font-size: 40px;
    transition-property: all;
    transition-duration: 0.3s;
}


.box{
    width: 100px;
    height: 100px;
    background-color: skyblue;
    margin-left: 48%;
    margin-top: 50px;

    transform: rotateZ(45deg);
    transition-duration: 2s;
}